body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  flex-direction: column;  /* Stack children vertically */
  background-color: #d71010; /* Light grey background */
  font-family: 'Arial', sans-serif; /* Clean font */
}
h1{
    font-size: 70px;
    font-weight: bold;
}

.scoreboard{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
   
}

.score{
    background-color: #f0f0f0;
    padding: 10px 20px;
    border: 2px soli #333;
    border-radius: 8px;
}

#gameboard{
    display: none;
}

.showGameBoard{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0f0f0;
}

.box{
    width: 15vw;
    height: 20vh;
    background-color: #f0f0f0;
    border: 2px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    padding: 10px 20px;
   
    border-radius: 8px;
    display: flex;
    gap: 100px;
}

button:hover{
    background-color: #2980b9;
}

.box:hover{
    background-color: gray;
}


#start,#stop,#reset{
    font-size: 20px;
}
#stop, #reset{
    display: none;
}

.X-mark{
    color: red;
    font-size: 80px;
    font-weight: bold;
    
   
}
.O-mark{
    color: #2980b9;
    font-size: 80px;
    font-weight: bold;
}